@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

/* opcional: asegura que los canvas sean block (evita gaps en algunos navegadores) */
canvas {
  display: block;
}